<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/plugins/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    @* @Scripts.Render("~/bundles/jquery")*@
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>
    <link href="~/Scripts/JqueryUI/jquery-ui.min.css" rel="stylesheet" />

    @{
        string CurrentUser = "";
        string OpMsg = "";

        if (Session["UserName"] != null)
        {
            if (Session["UserName"].ToString() != "")
            {
                CurrentUser = Session["UserName"].ToString();
            }
        }

        if (Session["OpMsg"] != null)
        {
            if (Session["OpMsg"].ToString() != "")
            {
                OpMsg = Session["OpMsg"].ToString();
                Session.Remove("OpMsg");
            }
        }
    }


    <script>
        var CurrUser = "@CurrentUser";
        $(document).ready(function () {
            if (CurrUser == "") {
                window.location.href = '@Url.Action("Login", "Auth")';
            }
        })

        var OpMsg = '@OpMsg';
        $(document).ready(function () {
            if (OpMsg != "") {
                $('#alertMsg').html(OpMsg);
                $("#dialog-message").dialog({
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
                OpMsg = "";
            }
            $(".clsDatePicker").datepicker({
                format: 'dd/mm/yy'
            });
        })

    </script>
    <style>
        #ui-datepicker-div{
            z-index: 1000 !important;
        }
    </style>

</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        @Html.Partial("~/Views/Inventory/_InventoryHeader.cshtml")


        @Html.Partial("~/Views/Inventory/_InventoryLeftSidebar.cshtml")

        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>


    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>

</html>